<section>
  <button class="back-button" onclick="goBack()">
    <i class="fas fa-arrow-left"></i>
  </button>
  <h2 class="content-title">Sách yêu thích của bạn</h2>
  <div class="book-grid">
    <% bookByIdUser.forEach(book => { %>
    <div class="item book-item">
      <form class="remove-form" action="/favorite-remove" method="POST">
        <input type="hidden" name="id_book" value="<%= book.id_book %>">
        <button type="submit" class="remove-button">&times;</button>
      </form>
      <a href="/review/<%= book.id_book %>" class="item">
        <img src="/images/<%= book.id_book %>.jpg" alt="<%= book.title %>" class="book-image"/>
        <div class="book-title"><%= book.title %></div>
      </a>
      </div>
    <% }); %>
  </div>
</section>


<script>
  function toggleSidebar() {
    const sidebar = document.querySelector('.sidebar');
    const toggleBtn = document.querySelector('.toggle-sidebar i');
    sidebar.classList.toggle('collapsed');
    toggleBtn.classList.toggle('fa-angle-right');
    toggleBtn.classList.toggle('fa-angle-left');
  }

  function goBack() {
    if (document.referrer) {
      window.history.back();
    } else {
      window.location.href = "/";
    }
  }
</script>
