<section>
  <button class="back-button" onclick="goBack()">
    <i class="fas fa-arrow-left"></i>
  </button>

  <!-- Book detail -->
  <section class="book-detail">
    <!-- Bên trái: Hình ảnh và nút -->
    <div class="book-left">
      <img src="/images/<%= bookById[0].id_book %>.jpg" alt="<%= bookById[0].title %>" class="book-image" />
      <div class="button-row">
        <button class="read-button" onclick="location.href='/read/<%= bookById[0].id_book %>'">Đọc sách</button>
        <form action="/favorite-add" method="POST" id="add-to-favorite-form">
          <input type="hidden" name="id_book" value="<%= bookById[0].id_book %>">
          <button type="submit" style="text-decoration: none; border: none; background: none; padding: 0;">
            <i class="fa-solid fa-heart"></i>
          </button>
        </form>
        <button><i class="fa-solid fa-share"></i></button>
      </div>
    </div>
    <!-- Bên phải: Thông tin sách -->
    <div class="book-right">
      <h1 id="book-title"><%= bookById[0].title %></h1>
      <p class="author"><strong id="book-author">Tên tác giả: <%= bookById[0].author %></strong></p>
      <p><strong>Thể loại: </strong>
        <a class="tag" id="genre-1" href="/search?category=<%= bookById[0].category %>">
          <%= bookById[0].category %>
        </a>
      </p>
      <p id="book-summary"><strong>Tóm tắt: </strong><%= bookById[0].summary %></p>
    </div>
  </section>

  <!-- Comments -->
  <section class="comments">
    <h2><em>Bình luận & Đánh giá</em></h2>
    <div class="comment-box" id="comment-list">
      <!-- Các comment sẽ được render động tại đây -->
    </div>
    <input type="text" class="input-comment" placeholder="Bình luận ngay" id="new-comment">
  </section>

  <!-- Suggestions -->
  <section class="suggestions">
    <h2><em>Có thể bạn sẽ thích</em></h2>
    <div class="book-grid">
      <% books.slice(20, 35).forEach(book => { %>
        <a href="/review/<%= book.id_book %>" class="item">
          <img src="/images/<%= book.id_book %>.jpg" alt="${book.title}" class="book-image" />
          <div class="book-title"><%= book.title %></div>
        </a>
      <% }) %>
    </div>
  </section>
</section>

<script>
  function toggleSidebar() {
    const sidebar = document.querySelector('.sidebar');
    const toggleBtn = document.querySelector('.toggle-sidebar i');
    sidebar.classList.toggle('collapsed');
    toggleBtn.classList.toggle('fa-angle-right');
    toggleBtn.classList.toggle('fa-angle-left');
  }

  function goBack() {
    if (document.referrer) {
      window.history.back();
    } else {
      window.location.href = "/";
    }
  }
</script>
