<section>
  <!-- Kết quả tìm kiếm -->
  <div class="book-section">

    <% if (!bookByQuery || bookByQuery.length === 0) { %>
      <h2 class="section-title">Không tìm thấy kết quả nào cho "<%= keyword || 'Từ khóa trống' %>"</h2>
    <% } else { %>
      <h2 class="section-title">Kết quả tìm kiếm cho "<%= keyword %>"<h2>
      <div class="book-grid">
        <% bookByQuery.forEach(book => { %>
          <a href="/review/<%= book.id_book %>" class="item">
            <img src="/images/<%= book.id_book %>.jpg" alt="<%= book.title %>" class="book-image"/>
            <div class="book-title"><%= book.title %></div>
          </a>
        <% }); %>
      </div>
    <% } %>
  </div>
</section>

<script>
  function toggleSidebar() {
    const sidebar = document.querySelector('.sidebar');
    const toggleBtn = document.querySelector('.toggle-sidebar i');
    sidebar.classList.toggle('collapsed');
    toggleBtn.classList.toggle('fa-angle-right');
    toggleBtn.classList.toggle('fa-angle-left');
  }

  document.addEventListener("DOMContentLoaded", function () {
    const buttons = document.querySelectorAll(".sidebar-button");

    buttons.forEach(button => {
      const href = button.getAttribute("href");
      if (href && window.location.pathname.includes(href)) {
        button.classList.add("active");
      }
    });
  });
</script>